<p-toast position="top-center" [showTransformOptions]="'translateY(-100%)'"></p-toast>

<p-card>
  <div class="authors-page-container">
    <div *ngIf="favorites?.length > 0">
        <div class="authors-header">
          <div class="p-col-12 p-md-6">
            <span class="page-title">
              {{'locale.authors.favorites.title' | translate}}
            </span>
          </div>
        </div>

        <div class="authors-grid">
          <div *ngFor="let author of favorites; trackBy: trackByAuthorId" class="author-item" (click)="showDetails(author)">
            <div class="user_avatar">
              <img [src]="author.image || './assets/images/avatar3.jpg'"
                   class="avatar"
                   (click)="showDetails(author)"
                   style="cursor: pointer;"
                   loading="lazy"
                   [alt]="author.name"
                   [class.loading-image]="!author.image" />

              <a href="javascript:;"
                 (click)="showDetails(author)"
                 style="cursor: pointer;"
                 tabindex="0"
                 (keyup.enter)="showDetails(author)">
                <span class="title">{{author.name}}</span>
                <span class="subtitle">{{author.numBooks}} {{'locale.authors.total' | translate}}</span>
              </a>
            </div>
          </div>
        </div>
    </div>

    <div>
        <div class="authors-header">
          <div class="p-col-12 p-md-6">
            <span class="page-title">
              {{title}}
            </span>
          </div>
          <div class="p-col-12 p-md-6" style="text-align: right;">
            <p-dropdown [options]="sorts"
                        [(ngModel)]="selectedSort"
                        (onChange)="onChange($event)"
                        class="sortBy"
                        *ngIf="sorts && sorts.length > 0">
              <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle">{{item?.label || 'Sort Option'}}</span>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <span>{{item?.label || 'Unknown'}}</span>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

        <!-- Loading state -->
        <div *ngIf="isLoading" class="loading-container">
          <span class="loading">{{'locale.search.searching' | translate}}</span>
        </div>

        <!-- Authors grid -->
        <div class="authors-grid"
             *ngIf="!isLoading">
          <div *ngFor="let author of authors; trackBy: trackByAuthorId" class="author-item" (click)="showDetails(author)">

            <div class="user_avatar">
              <img [src]="author.image || './assets/images/avatar3.jpg'"
                   class="avatar"
                   (click)="showDetails(author)"
                   style="cursor: pointer;"
                   loading="lazy"
                   [alt]="author.name"
                   [class.loading-image]="!author.image" />

              <a href="javascript:;"
                 (click)="showDetails(author)"
                 style="cursor: pointer;"
                 tabindex="0"
                 (keyup.enter)="showDetails(author)">
                <span class="title">{{author.name}}</span>
                <span class="subtitle">{{author.numBooks}} {{'locale.authors.total' | translate}}</span>
              </a>
            </div>

          </div>
        </div>

    </div>
  </div>
</p-card>

<div class="book">
  <p-dialog [(visible)]="showDetail"
            [modal]="true"
            [draggable]="false"
            [resizable]="false"
            [transitionOptions]="'150ms'"
            [closeOnEscape]="true"
            appendTo="body">
    <app-author (eventClose)="closeDetails()"
                (eventOpen)="openDetails()"
                (eventBook)="openBook($event)"
                (eventAuthor)="refreshAuthor($event)"></app-author>
  </p-dialog>

  <p-dialog [(visible)]="showBookDetail"
            [modal]="true"
            [draggable]="false"
            [resizable]="false"
            [transitionOptions]="'150ms'"
            [closeOnEscape]="true"
            appendTo="body">
    <app-detail (eventClose)="closeBookDetails()"
                (eventOpen)="openBookDetails()"
                (eventAuthor)="openAuthor($event)"></app-detail>
  </p-dialog>
</div>
