<p-toast position="top-center" [showTransformOptions]="'translateY(-100%)'"></p-toast>

<div class="notification">
    <p-card>
        <div class="content-header p-grid">
            <div class="p-col-12">
                <span class="page-title">
                    {{'locale.notifications.title' | translate}}
                </span>
            </div>
        </div>

        <div class="content-body p-grid">
            <div class="p-fluid">
                <p-table #dt [value]="notifications" [responsive]="true" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            
                            <th class="center" pSortableColumn="type">
                                {{'locale.notifications.type' | translate}}
                                <p-sortIcon field="type"></p-sortIcon>
                            </th>
                            <th class="center" pSortableColumn="user">
                                {{'locale.notifications.user' | translate}}
                                <p-sortIcon field="user"></p-sortIcon>
                            </th>
                            <th class="center" pSortableColumn="title">
                                {{'locale.notifications.book' | translate}}
                                <p-sortIcon field="title"></p-sortIcon>
                            </th>
                            <th class="center" pSortableColumn="sendDate">
                              {{'locale.notifications.sendDate' | translate}}
                              <p-sortIcon field="sendDate"></p-sortIcon>
                          </th>
                            <th class="center" pSortableColumn="readUser">
                                {{'locale.notifications.readUser' | translate}}
                                <p-sortIcon field="readUser"></p-sortIcon>
                            </th>
                            <th class="center" pSortableColumn="readAdmin">
                                {{'locale.notifications.readAdmin' | translate}}
                                <p-sortIcon field="readAdmin"></p-sortIcon>
                            </th>
                            <th class="center" pSortableColumn="status">
                                {{'locale.notifications.status' | translate}}
                                <p-sortIcon field="status"></p-sortIcon>
                            </th>
                            <th class="center" pSortableColumn="error">
                                {{'locale.notifications.error' | translate}}
                                <p-sortIcon field="error"></p-sortIcon>
                            </th>
                            <th class="table-buttons"></th>
                        </tr>
                        <tr>
                           
                            <th>
                                <p-dropdown [options]="types" (onChange)="dt.filter($event.value, 'type', 'equals')"
                                    styleClass="p-column-filter"
                                    placeholder="{{'locale.notifications.select' | translate}}{{'locale.notifications.type' | translate}}"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                            <th>
                                <p-dropdown [options]="users" (onChange)="dt.filter($event.value, 'user', 'equals')"
                                    styleClass="p-column-filter"
                                    placeholder="{{'locale.notifications.select' | translate}}{{'locale.notifications.user' | translate}}"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                            <th>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'title', 'startsWith')"
                                    placeholder="{{'locale.notifications.search' | translate}}{{'locale.notifications.book' | translate}}"
                                    class="p-column-filter">
                            </th>
                            <th><input pInputText type="text"
                              (input)="dt.filter($event.target.value, 'sendDate', 'startsWith')"
                              placeholder="{{'locale.notifications.search' | translate}}{{'locale.notifications.sendDate' | translate}}"
                              class="p-column-filter"></th>
                            <th>
                                <p-dropdown [options]="read" (onChange)="dt.filter($event.value, 'readUser', 'equals')"
                                    styleClass="p-column-filter"
                                    placeholder="{{'locale.notifications.select' | translate}}{{'locale.notifications.status' | translate}}"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                            <th>
                                <p-dropdown [options]="read" (onChange)="dt.filter($event.value, 'readAdmin', 'equals')"
                                    styleClass="p-column-filter"
                                    placeholder="{{'locale.notifications.select' | translate}}{{'locale.notifications.status' | translate}}"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                            <th>
                                <p-dropdown [options]="statuses"
                                    (onChange)="dt.filter($event.value, 'status', 'equals')"
                                    styleClass="p-column-filter"
                                    placeholder="{{'locale.notifications.select' | translate}}{{'locale.notifications.status' | translate}}"
                                    [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                            <th>
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'error', 'startsWith')"
                                    placeholder="{{'locale.notifications.search' | translate}}{{'locale.notifications.error' | translate}}"
                                    class="p-column-filter">
                            </th>
                            <th>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-notif>
                        <tr>
                           
                            <td>{{'locale.notifications.types.' + notif.type | translate}}
                            </td>
                            <td>{{notif.user}}
                            </td>
                            <td (mouseover)="cover=notif.image;op.toggle($event)">{{notif.title}}
                            </td>
                            <td>{{notif.sendDate}}</td>
                            <td>{{'locale.notifications.read.' + notif.readUser | translate}}
                            </td>
                            <td>{{'locale.notifications.read.' + notif.readAdmin | translate}}
                            </td>
                            <td>{{'locale.notifications.statuses.' + notif.status | translate}}
                            </td>
                            <td class="column-overflow" title="{{notif.error}}">{{notif.error}}
                            </td>
                            <td class="table-buttons">
                                <button pButton type="button" icon="pi pi-trash"
                                    (click)="deleteNotification(notif.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-overlayPanel #op class="no-border">
                    <ng-template pTemplate>
                        <img [src]="cover" class="detail-image img-fluid" />
                    </ng-template>
                </p-overlayPanel>
            </div>
        </div>
    </p-card>
</div>
