/.idea/.gitignore
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/encodings.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/google-java-format.xml
/.idea/indigo.iml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/indigo-frontend/.vscode/launch.json
/.idea/misc.xml
/.idea/modules.xml
/.idea/PMDPlugin.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/indigo-frontend/.vscode/launch.json
