<ngx-loading-bar [color]="'#5e81ac'" [includeSpinner]="false"></ngx-loading-bar>


<p-dialog header="{{'locale.session.title'| translate}}" [style]="{width: '500px'}" [(visible)]="sessionDialog" [modal]="true" [baseZIndex]="10000" [draggable]="false" [closable]="false" [resizable]="false" [focusOnShow]="false">
    <p>{{'locale.session.description'| translate}}</p>
    <p-footer>
        <button type="button" pButton (click)="logout(); sessionDialog=false;" label="Aceptar"></button>
    </p-footer>
</p-dialog>

<router-outlet></router-outlet>