<p-toast position="top-center" [showTransformOptions]="'translateY(-100%)'"></p-toast>

<div class="book" *ngIf="authorInfo">
  <p-card>
    <div class="content-header p-grid">
      <div class="p-col-12 p-md-7">
        <span class="page-title">
          {{authorInfo.name}}
        </span>
      </div>
      <div class="p-col-5 book-title-buttons">

        <button id="refreshAuthor" type="button" pButton (click)="refreshAuthor();" icon="pi pi-refresh"
          title="{{'locale.buttons.refresh' | translate}}" class="book-title-button" *ngIf="isAdmin()"></button>

        <button id="addFavoriteAuthor" type="button" pButton (click)="addFavoriteAuthor();" icon="pi pi-heart"
          title="{{'locale.buttons.favorite.add' | translate}}" class="book-title-button"
          *ngIf="!favoriteAuthor"></button>

        <button id="deleteFavoriteAuthor" type="button" pButton (click)="deleteFavoriteAuthor();" icon="pi pi-heart"
          title="{{'locale.buttons.favorite.delete' | translate}}" class="book-title-button-favorite"
          *ngIf="favoriteAuthor"></button>
      </div>
    </div>
    <div class="content-body p-grid">
      <div class="p-col-12 p-md-4 p-lg-2 p-xl-1">
        <div class="book-title-image">
          <img [src]="authorInfo.image" class="book-detail-image" />
        </div>
        <div class="book-title-buttons-side">

          <button id="addFavoriteAuthorSmall" type="button" pButton (click)="addFavoriteAuthor();" icon="pi pi-heart"
            title="{{'locale.buttons.favorite.add' | translate}}" class="book-title-button"
            *ngIf="!favoriteAuthor"></button>

          <button id="deleteFavoriteAuthorSmall" type="button" pButton (click)="deleteFavoriteAuthor();"
            icon="pi pi-heart" title="{{'locale.buttons.favorite.delete' | translate}}"
            class="book-title-button-favorite" *ngIf="favoriteAuthor"></button>

          <button id="refreshAuthorSmall" type="button" pButton (click)="refreshAuthor();" icon="pi pi-refresh"
            title="{{'locale.buttons.refresh' | translate}}" class="book-title-button" *ngIf="isAdmin()"></button>
        </div>
      </div>
      <div class="p-col-12 p-md-8 p-lg-10 p-xl-11">
        <div class="book-description" [innerHTML]="authorInfo.description"></div>

        <div class="book-detail-buttons">

          <button type="button" pButton label="{{'locale.buttons.close' | translate}}" (click)="close()"
            class="book-detail-button"></button>

        </div>
      </div>

    </div>
  </p-card>
</div>

<div class="book" *ngIf="favorites?.length > 0">
  <p-card>
    <div class="content-header p-grid">
      <div class="p-col-12 p-md-6">
        <span class="page-title">
          {{'locale.books.favorites.title' | translate}}
        </span>
      </div>
    </div>

    <div class="content-body p-grid" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
      <div class="p-sm-6 p-md-4 p-lg-2 p-xl-1" *ngFor="let book of favorites">

        <img [src]="book.image" height="225" class="list-image" (click)="showDetails(book)" style="cursor: pointer;" />
        <div>
          <span class="title">{{book.title}}</span>
        </div>
        <div>
          <span class="subtitle" *ngFor="let author of book.authors">
            <a href="javascript:;" (click)="getBooksByAuthor(author)">{{author}}</a><span
              *ngIf="author != book.authors[book.authors.length-1]"> & </span></span>
        </div>
        <div *ngIf="book.rating">
          <p-rating [ngModel]="book.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
        </div>
      </div>
    </div>

  </p-card>
</div>

<div class="book">
  <p-card>
    <div class="content-header p-grid">
      <div class="p-col-12 p-md-6">
        <span class="page-title">
          {{title}}
        </span>
      </div>
      <div class="p-col-12 p-md-6" style="text-align: right;">
        <p-dropdown [options]="sorts" [(ngModel)]="selectedSort" (onChange)="onChange($event)" class="sortBy">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="content-body p-grid" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
      <div class="p-sm-6 p-md-4 p-lg-2 p-xl-1" *ngFor="let book of books">

        <img [src]="book.image" height="225" class="list-image" (click)="showDetails(book)" style="cursor: pointer;" />
        <div>
          <span class="title">{{book.title}}</span>
        </div>
        <div>
          <span class="subtitle" *ngFor="let author of book.authors">
            <a href="javascript:;" (click)="getBooksByAuthor(author)">{{author}}</a><span
              *ngIf="author != book.authors[book.authors.length-1]"> & </span></span>
        </div>
        <div *ngIf="book.rating">
          <p-rating [ngModel]="book.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
        </div>
      </div>
    </div>

    <button type="button" pButton [ngClass]="'up-button'" *ngIf="showGoUpButton" (click)="scrollTop()"
      icon="pi pi-arrow-up"></button>
  </p-card>
</div>

<div class="book">
  <p-dialog header="Header" [(visible)]="showDetail" [modal]="true" [draggable]="false" [resizable]="false">
    <app-detail (eventClose)="closeDetails()"></app-detail>
  </p-dialog>
</div>
