<p-toast position="top-center" [showTransformOptions]="'translateY(-100%)'"></p-toast>
<div class="book">
<p-card>
<div class="books-page-container">

  <!-- Favorites Section -->
  <div *ngIf="favorites && favorites.length > 0">
    <div class="books-header">
      <span class="page-title">{{'locale.books.favorites.title' | translate}}</span>
    </div>
    <div class="books-grid">
      <div *ngFor="let book of favorites; trackBy: trackByBookId" class="book-item" (click)="showDetails(book)">
        <div class="book-cover-container">
          <img class="book-cover"
               [appLazyImage]="book.image"
               [lazySource]="book.originalImage"
               [lazyPlaceholder]="'./assets/images/unknown.jpg'"
               (lazyLoaded)="book.image = $event"
               alt="{{ book.title }}" />
        </div>
        <div class="book-info">
          <span class="title" title="{{ book.title }}">{{book.title || 'Unknown Title'}}</span>
          <span class="subtitle">
            <a href="javascript:;" (click)="openAuthor(getFirstAuthor(book)); $event.stopPropagation();" *ngIf="getFirstAuthor(book) !== 'Unknown Author'">
              {{getFirstAuthor(book)}}
            </a>
            <span *ngIf="getFirstAuthor(book) === 'Unknown Author'">{{getFirstAuthor(book)}}</span>
          </span>
          <div *ngIf="book.rating" class="rating-container">
            <p-rating [ngModel]="book.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- All Books Section -->
  <div>
    <div class="books-header">
      <span class="page-title">{{title || 'Books'}}</span>
      <div class="view-controls">
        <button pButton type="button" [icon]="isListView ? 'pi pi-th-large' : 'pi pi-bars'" (click)="setView(!isListView)" class="p-button-sm p-button-outlined"></button>
        <p-dropdown [options]="sorts || []" [(ngModel)]="selectedSort" (onChange)="onChange($event)" class="sortBy" *ngIf="sorts && sorts.length > 0">
          <ng-template let-item pTemplate="selectedItem">
            <span>{{item?.label || 'Sort Option'}}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <span>{{item?.label || 'Unknown'}}</span>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <!-- Grid View -->
    <div *ngIf="!isListView" class="books-grid">
      <div *ngFor="let book of books || []; trackBy: trackByBookId" class="book-item" (click)="showDetails(book)">
        <div class="book-cover-container">
          <img class="book-cover"
               [appLazyImage]="book.image"
               [lazySource]="book.originalImage"
               [lazyPlaceholder]="'./assets/images/unknown.jpg'"
               (lazyLoaded)="book.image = $event"
               alt="{{ book.title }}" />
        </div>
        <div class="book-info">
          <span class="title" title="{{ book.title }}">{{book.title || 'Unknown Title'}}</span>
          <span class="subtitle">
             <a href="javascript:;" (click)="openAuthor(getFirstAuthor(book)); $event.stopPropagation();" *ngIf="getFirstAuthor(book) !== 'Unknown Author'">
              {{getFirstAuthor(book)}}
            </a>
            <span *ngIf="getFirstAuthor(book) === 'Unknown Author'">{{getFirstAuthor(book)}}</span>
          </span>
          <div *ngIf="book.rating" class="rating-container">
            <p-rating [ngModel]="book.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
            <i class="pi pi-comments" *ngIf="book.reviews" (click)="showDetails(book); $event.stopPropagation();"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- List View -->
    <div *ngIf="isListView" class="books-list">
      <div *ngFor="let book of books || []; trackBy: trackByBookId" class="book-list-item" (click)="showDetails(book)">
        <img class="book-list-cover"
             [appLazyImage]="book.image"
             [lazySource]="book.originalImage"
             [lazyPlaceholder]="'./assets/images/book-placeholder.jpg'"
             (lazyLoaded)="book.image = $event"
             alt="{{ book.title }}" />
        <div class="book-list-info">
          <div class="title-container">
            <span class="title" title="{{ book.title }}">{{book.title || 'Unknown Title'}}</span>
            <i class="pi pi-comments" *ngIf="book.reviews" (click)="showDetails(book); $event.stopPropagation();"></i>
          </div>
          <span class="subtitle">
            <a href="javascript:;" (click)="openAuthor(getFirstAuthor(book)); $event.stopPropagation();" *ngIf="getFirstAuthor(book) !== 'Unknown Author'">
              {{getFirstAuthor(book)}}
            </a>
            <span *ngIf="getFirstAuthor(book) === 'Unknown Author'">{{getFirstAuthor(book)}}</span>
          </span>
          <p class="description" [innerHTML]="book.comment"></p>
          <div class="book-meta" *ngIf="(book.tags && book.tags.length > 0) || book.pubDate">
            <div *ngIf="book.tags && book.tags.length > 0" class="meta-item">
              <span class="meta-value">{{ book.tags.join(', ') }}</span>
            </div>
            <div *ngIf="book.pubDate" class="meta-item">
              <span class="meta-value">{{ book.pubDate | date:'longDate' }}</span>
            </div>
          </div>
          <div *ngIf="book.rating" class="rating-container">
            <p-rating [ngModel]="book.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</p-card>
</div>
<!-- Dialogs -->
<p-dialog [(visible)]="showDetail" [modal]="true" [draggable]="false" [resizable]="false" [transitionOptions]="'150ms'" [closeOnEscape]="true" appendTo="body">
  <app-detail (eventClose)="closeDetails()" (eventOpen)="openDetails()" (eventAuthor)="openAuthor($event)" (eventBook)="refreshBook($event)" (deleteBookEvent)="deleteBook($event)"></app-detail>
</p-dialog>

<p-dialog [(visible)]="showAuthorDetail" [modal]="true" [draggable]="false" [resizable]="false" [transitionOptions]="'150ms'" [closeOnEscape]="true" appendTo="body">
  <app-author (eventClose)="closeAuthorDetails()" (eventOpen)="openAuthorDetails()" (eventBook)="openBook($event)"></app-author>
</p-dialog>
