#viewer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.overlay-left {
    float: left;
    padding-left: 10px;
}

.overlay-right {
    text-align: right;
    padding-right: 10px;
}

@media (max-width: 640px) {

    .overlay-left {
        float: left;
        padding-left: 10px;
    }
    
    .overlay-right {
        text-align: right;
        padding-right: 10px;
    }

}

.chapters{
    height: 750px;
    overflow-y: auto;
}

.ch {
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
}

@media (max-width: 640px) {
    .chapters{
        height: 300px;
        overflow-y: auto;
    }
}

.content{
    height: 712px;
}

@media (max-width: 640px) {
    .content{
    height: 735px;
    }
}

#viewer.spreads {
    position: relative;
    cursor: pointer;
    margin-bottom: 0.5em;
    height: 745px;
    background: white;
}

@media (min-width: 1140px) {
    #viewer.spreads:after {
      position: absolute;
      z-index: 1;
      width: 1px;
      border-right: 1px #000 solid;
      height: 90%;
      left: 50%;
      margin-left: -1px;
      top: 5%;
      opacity: .15;
      box-shadow: -2px 0 15px rgba(0, 0, 0, 1);
      content:  "";
    }
  
    #viewer.spreads.single:after {
      display: none;
    }
  }




  .chapter-image {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    cursor: pointer;
    margin-bottom: 0.5em;
    max-width: 100%;
    height: 200px;
}

.inline{
    display: flex;
    flex-wrap: nowrap !important;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    overflow: auto;
}

