#viewer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.overlay {
    z-index: 100;
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.overlay button {
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border-radius: 20px;
    margin: 10px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.1s;
}
.overlay button:active {
    border: 1px solid black;
}
.overlay button:hover {
    background-color: rgba(51, 51, 51, 0.7);
}

.overlay .chapters {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 80px;
}

.overlay .chapters .ch {
    cursor: pointer;
    margin: 10px 5px;
}

.chapters{
    height: 744px;
    overflow-y: auto;
}

@media (max-width: 640px) {
    .chapters{
        height: 150px;
        overflow-y: auto;
    }
}

#viewer.spreads {
    position: relative;
    cursor: pointer;
    margin-bottom: 0.5em;
    height: 745px;
    background: white;
}

@media (min-width: 1140px) {
    #viewer.spreads:after {
      position: absolute;
      z-index: 1;
      width: 1px;
      border-right: 1px #000 solid;
      height: 90%;
      left: 50%;
      margin-left: -1px;
      top: 5%;
      opacity: .15;
      box-shadow: -2px 0 15px rgba(0, 0, 0, 1);
      content:  "";
    }
  
    #viewer.spreads.single:after {
      display: none;
    }
  }


  .test{
      height: 745px;
  }