<p-toast position="top-center" [showTransformOptions]="'translateY(-100%)'"></p-toast>
<div class="profile">
  <p-card>
    <div class="content-header p-grid">
      <div class="p-col-12">
                <span class="page-title" *ngIf="user.id">
                    {{'locale.profile.title' | translate:param}}
                </span>
        <span class="page-title" *ngIf="!user.id">
                    Nuevo usuario
                </span>
      </div>
    </div>

    <div class="content-body p-grid">
      <div class="p-col-12 p-md-12  p-fluid">
        <div class="account">
          <span class="page-subtitle">{{'locale.profile.account.title' | translate:param}}</span>
          <div class="p-grid">
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="username">{{'locale.profile.account.username' | translate}}</label>
                <input id="username" type="text" pInputText [readonly]="readOnly()"
                       [(ngModel)]="user.username" />
              </div>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="password">{{'locale.profile.account.password' | translate}}</label>
                <input id="password" type="password" pInputText [readonly]="isUser()"
                       [(ngModel)]="user.password" />
              </div>
            </div>
            <div class="p-col-12">
              <div class="p-field">
                <label for="kindle">{{'locale.profile.account.kindle' | translate}}</label>
                <input id="kindle" type="text" pInputText [(ngModel)]="user.kindle" />
              </div>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="language">{{'locale.profile.account.language' | translate}}</label>
                <p-dropdown id="language" [options]="languages" [(ngModel)]="user.language"
                            placeholder="Seleccione un idioma">
                  <ng-template let-item pTemplate="item">
                    <img src="./assets/images/flags/{{item.value}}.svg" class="flag" />
                    <span>{{item.label}}</span>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="languages">{{'locale.profile.account.languages' | translate}}</label>
                <p-multiSelect [options]="languageBooks" [(ngModel)]="user.languageBooks" [filter]="true"
                               [showToggleAll]="true" [showHeader]="true" [placeholder]="chooseLanguageBooks">
                  <ng-template let-value pTemplate="selectedItems">
                    <div *ngFor="let val of user.languageBooks" class="multiselected-item-token ui-corner-all">
                      <span>{{'locale.languages.' + val | translate}}</span>
                    </div>
                    <span *ngIf="!user.languageBooks || user.languageBooks.length === 0"
                          class="multiselected-empty-token ui-corner-all"> </span>
                  </ng-template>
                  <ng-template let-lang pTemplate="item">
                    <span style="font-size:14px;margin-top:4px">{{lang.label}}</span>
                  </ng-template>
                </p-multiSelect>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="p-col-12 page-buttons">
        <button type="button" pButton label="{{'locale.buttons.save' | translate}}"
                (click)="doTranslate();update()" *ngIf="user.id" class="page-button"></button>
        <button type="button" pButton label="{{'locale.buttons.save' | translate}}" (click)="save()"
                *ngIf="!user.id" [disabled]="!isValid()" class="page-button"></button>

      </div>
    </div>
  </p-card>
</div>


<div class="book" *ngIf="books?.length">
  <p-card>
    <div class="content-header p-grid">
      <div class="p-col-12">
                <span class="page-title">
                    {{'locale.profile.books.title' | translate}} </span>
      </div>
    </div>

    <div class="content-body p-grid inline">
      <div class="p-sm-6 p-md-4 p-lg-2 p-xl-1" *ngFor="let book of books">
        <div class="book-cover-container">
          <img [src]="book.image || './assets/images/book-placeholder.jpg'"
               class="list-image book-cover"
               (click)="showBookDetails(book)"
               style="cursor: pointer;"
               loading="lazy"
               [alt]="book.title || 'Book'"
               [class.loading-image]="!book.image" />
        </div>
        <div class="book-info">
          <div class="title">{{book.title || 'Unknown Title'}}</div>
          <div class="subtitle">
                        <a href="javascript:;"
                           (click)="searchBookByAuthor(getFirstAuthor(book))"
                           *ngIf="getFirstAuthor(book) !== 'Unknown Author'">
                            {{getFirstAuthor(book)}}
                        </a>
                        <span *ngIf="getFirstAuthor(book) === 'Unknown Author'">
                            {{getFirstAuthor(book)}}
                        </span>
                    </div>
          <div *ngIf="book.rating" class="rating-container">
            <p-rating [ngModel]="book.rating"
                      readonly="true"
                      stars="5"
                      [cancel]="false"
                      style="display: inline-block;"></p-rating>
            <i class="pi pi-comments"
               style="float: right; color: burlywood; margin-top: 2px;"
               *ngIf="book.reviews"></i>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>

<!-- MODALES PARA DETALLES DE LIBRO Y AUTOR -->
<div class="book">
  <p-dialog [(visible)]="showDetail"
            [modal]="true"
            [draggable]="false"
            [resizable]="false"
            [transitionOptions]="'150ms'"
            [closeOnEscape]="true">
    <app-detail (eventClose)="closeDetails()"
                (eventOpen)="openDetails()"
                (eventAuthor)="openAuthor($event)"
                (eventBook)="refreshBook($event)"
                (deleteBookEvent)="deleteBook($event)"></app-detail>
  </p-dialog>

  <p-dialog [(visible)]="showAuthorDetail"
            [modal]="true"
            [draggable]="false"
            [resizable]="false"
            [transitionOptions]="'150ms'"
            [closeOnEscape]="true">
    <app-author (eventClose)="closeAuthorDetails()"
                (eventOpen)="openAuthorDetails()"
                (eventBook)="openBook($event)"></app-author>
  </p-dialog>
</div>
