<p-toast position="top-center" [showTransformOptions]="'translateY(-100%)'"></p-toast>

<div class="serie">
  <p-card>
    <div class="content-header p-grid">
      <div class="p-col-12 p-md-6">
        <span class="page-title">
          {{title}}
        </span>
      </div>
      <div class="p-col-12 p-md-6" style="text-align: right;">
        <p-dropdown [options]="sorts" [(ngModel)]="selectedSort" (onChange)="onChange($event)" class="sortBy">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="content-body p-grid" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
      <div class="p-sm-6 p-md-4 p-lg-2 p-xl-1" *ngFor="let serie of series">
        <div class="stack twisted" *ngIf="serie.image">
          <img [src]="serie.image" class="list-image" (click)="getBooksBySerie(serie.name)"
            style="cursor: pointer;" />
        </div>
        <div class="center">
          <a href="javascript:;" (click)="getBooksBySerie(serie.name)">
            <span class="title">{{serie.name}}</span>
            <span class="subtitle">{{serie.numBooks}} {{'locale.series.total' | translate}}</span>
          </a>
        </div>
      </div>
    </div>

    <button type="button" pButton [ngClass]="'up-button'" *ngIf="showGoUpButton" (click)="scrollTop()"
      icon="pi pi-arrow-up"></button>
  </p-card>
</div>